//https://xd.adobe.com/view/b63b6910-24ee-4e89-4016-adfe23858080-c00a/      second design

$sm-btn-text: 14px;
$sm-btn-weight: 400;

@mixin btn-bg($bg) {
  background-color: $bg;
  &:hover {
    background-color: darken($bg, 20%);
    transition: all 0.2s ease-in;
  }
  &:active {
    background-color: darken($bg, 10%);
  }
}

.btn-primary {
  @include btn-bg(#331A70);
}

.btn-secondary {
  @include btn-bg(#1C84F8);
}


