//https://xd.adobe.com/view/b63b6910-24ee-4e89-4016-adfe23858080-c00a/      second design

$sm-btn-text: 14px;
$sm-btn-weight: 400;

@mixin btn-bg($bg) {
  background-color: $bg;
  &:hover {
    background-color: darken($bg, 20%);
    transition: all 0.2s ease-in;
  }
  &:active {
    background-color: darken($bg, 10%);
  }
}

.btn-primary {
  @include btn-bg(#331A70);
}

.btn-secondary {
  @include btn-bg(#5C34BE);
}

.single-chat-tab {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #00000026;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
  margin-bottom: 50px;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #9e9e9e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5C34BE;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5C34BE;
    border-radius: 8px;
  }
  .chat-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    .media {
      align-items: center;
      .user-dp {
        margin-right: 20px;
        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }
        span.user-online {
          width: 12px;
          height: 11px;
          background: #331A70 0% 0% no-repeat padding-box;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .media-body {
        h5 {
          font-size: 20px;
          font-family: Roboto;
          font-weight: 500;
          letter-spacing: 0;
          color: #161616;
          margin-bottom: 10px;
        }
      }
    }
  }
  .chat-body {
    padding: 30px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 480px;
    overflow: auto;

    .message-content {
      max-width: 328px;
      width: 100%;
      margin-bottom: 15px;
      &.sender {
        text-align: right;
        align-self: flex-end;
        .msg-block {
          background-color: #331A70;
          text-align: left;
        }
      }
      &.receiver {
        label {
          text-align: left;
        }
        .msg-block {
          background-color: #008EF4 ;
          text-align: left;
        }
      }
      label {
        font-size: 14px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 0;
        color: #B5B5B5;
        margin-bottom: 5px;
      }
      .msg-block {
        padding: 15px 8px;
        border-radius: 5px;
        p{
          color: #fff;
          font-size: 15px;
          font-family: 'Fira Sans', sans-serif;
          font-weight: 400;
        }
      }
    }
  }
  .chat-footer {
    padding: 10px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    input {
      border: none;
    }
    .btn {
      background: #331A70;
      color: #fff;
      border-radius: 5px;
      i {
        font-size: 30px;
      }
    }
  }
}


