<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Screen 4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->

  <!-- App css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/bootstrap.min.css">

  <link rel="stylesheet" href="../style/icons.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../style/mixin.css" rel="stylesheet" type="text/css" />
  <link href="../style/theme-style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Begin page -->
<div id="wrapper">
    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../images/user-1.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                Turkish Gypsy Girl <i class="mdi mdi-chevron-down"></i>
            </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                    <!-- item-->

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>


                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>
            <li class="dropdown notification-list">
                <a href="#" class="nav-link right-bar-toggle waves-effect waves-light">
                    <i class="fe-power noti-icon"></i>
                </a>
            </li>
        </ul>
        <!-- LOGO -->
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button style="padding: 17px 20px;" class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu" style="color: #1C84F8"></i>
                </button>
            </li>
        </ul>
    </div>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">
        <div class="slimscroll-menu">

          <!--- Sidemenu -->
          <div id="sidebar-menu" class="d-flex align-content-between flex-wrap h-100">
            <ul class="metismenu" id="side-menu">
              <!--          logo-->
              <li>
                <div class="logo-box">
                  <a href="#" class="logo text-center">
                  <span class="logo-lg">
                      <img src="../images/TSP-logo@2x.png" alt="" >
                  </span>
                    <span class="logo-sm">
                      <p>TSY</p>
                    </span>
                  </a>
                </div>
              </li>
              <!--          logo-->
              <li>
                <a href="home%202.html">
                  <i class="fas fa-portrait"></i>
                  <span> Overview  <span class="badge badge-success ml-2">4</span></span>
                </a>
              </li>
              <li>
                <a target="_blank"  aria-expanded="false">
                  <i class="fas fa-calendar-day"></i>
                  <span> Orders </span>
                  <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level">
                  <li>
                    <a href="../view/order%20-%20screen%202.html">Orders 1</a>
                  </li>
                  <li>
                    <a href="Order%202%20-%20screen%203.html">Orders 2</a>
                  </li>
                  <li>
                    <a href="order%20-%20screen%204.html">Orders 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="payment-1.html">
                  <i class="far fa-credit-card"></i>
                  <span> Payments </span>
                  <span class="menu-arrow"></span>
                </a>
              </li>
              <li>
                <a href="profile-view.html">
                  <i class="material-icons">
                    build
                  </i>
                  <span> Setup </span>
                  <span class="menu-arrow"></span>
                </a>
              </li>
              <li>
                <a href="chat-page.html">
                  <i class="material-icons">
                    chat
                  </i>
                  <span> Chat </span>
                  <span class="menu-arrow"></span>
                </a>
              </li>
            </ul>
            <ul class="metismenu text-center w-100">
              <li>
                <button class="button-menu-mobile waves-effect waves-light">
                  <i class="fe-menu"></i>
                </button>
              </li>
            </ul>
          </div>
          <!-- End Sidebar -->

        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="order-overview mt-4 ">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="section-title mini fancy"><span>Orders</span></h2>
                    </div>
                    <div class="col-12" style="height: 40px">
                      <a  class="custom-right-bar nav-link right-bar-toggle  waves-light">
                        <i class="material-icons align-middle">
                          chat
                        </i>
                      </a>
                    </div>
                  </div>
                    <div class="secret-card p-0 d-flex flex-wrap flex-lg-nowrap">
                        <div class="left-content p-3 ">
                            <h2>
                                Are we seriously meant for each other?
                            </h2>
                            <p class="paragraph">
                                I recently began dating someone and I am wondering if we are good fit for each other?
                                I like him a lot and things seem to be getting serious. I think he feels the same way.
                                Irecently began dating someone and I am wondering if we are good fit for each other?
                                I like him a lot and things seem to be getting serious. I think he feels the same way.
                                Irecently began dating someone and I am wondering if we are good fit for each other?
                                I like him a lot and things seem to be getting serious. I think he feels the same way.
                                Irecently began dating someone and I am wondering if we are good fit for each other?
                                I like him a lot and things seem to be getting serious. I think he feels the same way.
                                Irecently began dating someone and I am wondering if we are good fit for each other?
                                I like him a lot and things seem to be getting serious. I think he feels the same way.
                            </p>
                            <div class="video-content">
                                <iframe width="auto" height="240" src="https://www.youtube.com/embed/YpcTVXQ007s" style="webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div class="right-content bg-sky text-white">
                            <h3 class="username">Gina Albert</h3>
                            <ul class="info-list">
                                <li><strong>Gender</strong>:  Female</li>
                                <li><strong>Birthday</strong>:  15 Jan 1993</li>
                                <li><strong>Specific Information</strong>:
                                    I recently began dating someone and I am wondering if we are good fit for each other?
                                    I like him a lot and things seem to be getting serious. I think he feels the same way...
                                    Irecently began dating someone and I am wondering if we are good fit for each other?
                                    I like him a lot and things seem to be getting serious. I think he feels the same way...
                                    Irecently began dating someone and I am wondering if we are good fit for each other?
                                    I like him a lot and things seem to be getting serious. I think he feels the same way...
                                    Irecently began dating someone and I am wondering if we are good fit for each other?
                                    I like him a lot and things seem to be getting serious. I think he feels the same way...
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start">
                        <div class="social-links mr-4">
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <div class=" footer-links d-none d-sm-block">
                            <a href="#">CONTACT</a>
                            <a href="#">TERMS OF USE</a>
                            <a href="#">PRIVACY POLICY</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <p class="mb-0 copy-right">© 2018 The Sectret Psychic. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>

  <div class="right-bar">
    <div class="rightbar-title">
      <a href="javascript:void(0);" class="right-bar-toggle float-right">
        <i class="dripicons-cross noti-icon"></i>
      </a>
    </div>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 466px;"><div class="slimscroll-menu" style="overflow: hidden; width: auto; height: 466px;">
      <div class="client-card d-flex flex-column h-100 justify-content-around">
        <div class="d-flex justify-content-center client-content pt-3">
          <a href="">
            <i class="material-icons mb-2">
              delete_sweep
            </i>
            <label>Delete</label>
          </a>
        </div>
        <div class="d-flex justify-content-center client-content pt-3">
          <a href="">
            <i class="material-icons mb-2">
              mail
            </i>
            <label>Voice Message</label>
          </a>
        </div>
        <div class="d-flex justify-content-center client-content pt-3">
          <a href="">
            <i class="material-icons mb-2">
              contact_mail
            </i>
            <label>Live Chat</label>
          </a>
        </div>
        <div class="d-flex justify-content-center client-content pt-3">
          <a href="">
            <i class="material-icons mb-2">
              contact_mail
            </i>
            <label>Video Call</label>
          </a>
        </div>
      </div>



    </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 253.984px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div> <!-- end slimscroll-menu-->
  </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js" integrity="sha256-Y8l+EeoUOvr8SqEj/gTyjBb8CqhtrA6GU9P4yB+41cE=" crossorigin="anonymous"></script><script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Vendor js -->
<script src="../javascript/jquer.js"></script>
<!-- App js-->
<script src="../javascript/javascript.js"></script>
</body>
</html>
