<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Profile View</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->

  <!-- App css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/bootstrap.min.css">
  <link rel="stylesheet" href="../style/icons.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <link href="../style/mixin.css" rel="stylesheet" type="text/css" />
  <link href="../style/theme-style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- Begin page -->
<div id="wrapper">
  <!-- Topbar Start -->
  <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
          <img src="../images/user-1.jpg" alt="user-image" class="rounded-circle">
          <span class="pro-user-name ml-1">
                Turkish Gypsy Girl <i class="mdi mdi-chevron-down"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <!-- item-->

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-user"></i>
            <span>My Account</span>
          </a>


          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-lock"></i>
            <span>Lock Screen</span>
          </a>

          <div class="dropdown-divider"></div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-log-out"></i>
            <span>Logout</span>
          </a>

        </div>
      </li>
      <li class="dropdown notification-list">
        <a href="#" class="nav-link right-bar-toggle waves-effect waves-light">
          <i class="fe-power noti-icon"></i>
        </a>
      </li>
    </ul>
    <!-- LOGO -->
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li>
        <button style="padding: 17px 20px;" class="button-menu-mobile waves-effect waves-light">
          <i class="fe-menu" style="color: #1C84F8"></i>
        </button>
      </li>
    </ul>
  </div>
  <!-- end Topbar -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left-side-menu">
    <div class="slimscroll-menu">

      <!--- Sidemenu -->
      <div id="sidebar-menu" class="d-flex align-content-between flex-wrap h-100">
        <ul class="metismenu" id="side-menu">
          <li>
            <div class="logo-box">
              <a href="#" class="logo text-center">
                  <span class="logo-lg">
                      <img src="../images/TSP-logo@2x.png" alt="" >
                  </span>
                <span class="logo-sm">
                      <p>TSY</p>
                    </span>
              </a>
            </div>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-portrait"></i>

              <span> Overview  <span class="badge badge-success ml-2">4</span></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="#">Overview 1</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-calendar-day"></i>
              <span> Orders </span>
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="#">Orders 1</a>
              </li>
              <li>
                <a href="#">Orders 2</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="metismenu text-center w-100">
          <li>
            <button class="button-menu-mobile waves-effect waves-light">
              <i class="fe-menu"></i>
            </button>
          </li>
        </ul>
      </div>
      <!-- End Sidebar -->
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <div class="content">
      <!-- Start Content-->
      <div class="dashboard mt-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="secret-card px-4 py-3">
                <div class="account-setup-header d-flex justify-content-between align-items-center flex-wrap mb-4">
                  <div class="media mb-3 mb-lg-0">
                    <img class=" mr-3" src="../images/user-1.jpg" alt="Generic placeholder image">
                    <div class="media-body align-self-center mb-2">
                      <h5 class="mt-0 mb-0">Turkish Gypsy Girl</h5>
                      <p class="mb-0">
                        Love Specialist
                      </p>
                    </div>
                  </div>
                  <div>
                    <a href="">
                      <i class="material-icons">
                        build
                      </i>
                    </a>
                  </div>
                </div>
                <div class="user-overview">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="mb-4">
                        <h4>Services</h4>
                        <p>
                          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>
                      </div>
                      <div class="mb-3">
                        <h4>About me</h4>
                        <p>
                          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 mb-4">
                      <h4>Services</h4>
                      <ul class="categories-list">
                        <li>-Psychic Relationship</li>
                        <li>-Tarrot Readings</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="social-list">
                        <a href="" class="bg-sky">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="bg-primary">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider my-3">
                  <hr>
                </div>
                <div class="review-section">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="d-flex justify-content-between flex-wrap">
                        <div>
                          <h3 class="review-title">
                            All Reviews
                          </h3>
                          <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                        </div>
                        <div>
                          <div class="review-states">
                            <img src="../images/positive.png" alt="">
                            <label>1322</label>
                          </div>
                          <div class="review-states">
                            <img src="../images/negative.png" alt="">
                            <label>12</label>
                          </div>
                        </div>
                      </div>
                      <div class="divider">
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="review-card">
                        <div class="d-flex justify-content-between">
                          <h5>Jonny Depp <span class="ml-2">27 Jan 2020</span></h5>
                          <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                        </div>
                        <p>
                          Have you ever finally just gave in to the temptation
                          and read your horoscope in the newspaper
                          on Sunday morning?
                        </p>
                        <hr>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                      <div class="review-card">
                        <div class="d-flex justify-content-between">
                          <h5>Jonny Depp <span class="ml-2">27 Jan 2020</span></h5>
                          <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                        </div>
                        <p>
                          Have you ever finally just gave in to the temptation
                          and read your horoscope in the newspaper
                          on Sunday morning?
                        </p>
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="review-card">
                        <div class="d-flex justify-content-between">
                          <h5>Jonny Depp <span class="ml-2">27 Jan 2020</span></h5>
                          <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                        </div>
                        <p>
                          Have you ever finally just gave in to the temptation
                          and read your horoscope in the newspaper
                          on Sunday morning?
                        </p>
                        <hr>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                      <div class="review-card">
                        <div class="d-flex justify-content-between">
                          <h5>Jonny Depp <span class="ml-2">27 Jan 2020</span></h5>
                          <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                        </div>
                        <p>
                          Have you ever finally just gave in to the temptation
                          and read your horoscope in the newspaper
                          on Sunday morning?
                        </p>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> <!-- container -->
    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-start">
            <div class="social-links mr-4">
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
            <div class=" footer-links d-none d-sm-block">
              <a href="#">CONTACT</a>
              <a href="#">TERMS OF USE</a>
              <a href="#">PRIVACY POLICY</a>
            </div>
          </div>
          <div class="col-md-6 text-md-right">
            <p class="mb-0 copy-right">© 2018 The Sectret Psychic. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js" integrity="sha256-Y8l+EeoUOvr8SqEj/gTyjBb8CqhtrA6GU9P4yB+41cE=" crossorigin="anonymous"></script><script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Vendor js -->
<script src="../javascript/jquer.js"></script>
<!-- App js-->
<script src="../javascript/javascript.js"></script>
</body>
</html>
